@import url('https://fonts.googleapis.com/css2?family=Ribeye&family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
  }

  #nav-wrap {
    text-align: center;
  }
  

  #slider {
    overflow:hidden;
  }
  #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
   
  }

  #slider figure img {
    float: left;
    width: 20%;
  }
  @keyframes slider {
    0% {
      left:0; 
    }

    20% {
      left: 0;
    }

    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%
    }

    70% {
      left: -200%;
    }

    75% {
      left: -300%;
    }

    95% {
      left: -300%;
    }
   100% {
    left: -400%;
   }

  }


  footer { 
  background: #ddd;
    padding: 10px;
  }
  
 
 

  section h2  {
  font-family: "Playfair Display", serif;
  background: black;
  color: white;
  padding:5px;
  }
  

 

 nav ul {
  list-style-type: none;
  padding:0;
  display: flex;
  justify-content: center;
  background:#000000;
 }

  nav ul li {
  margin: 6px;
  background: #000000;
  
  }

 nav ul li a {
  text-decoration: none;
  background: #000000;
  color: #ffffff;
  padding: 10px;
  display:block;
  border-radius: 5px;
 }


